@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0 3em;
  background-color: #bcb8d8;
  color: #423a7f;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 2.5em;
}

p {
  font-size: 1.1em;
}

header {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 10em;
}

nav > h1 {
  cursor: pointer;
}

button {
  text-transform: uppercase;
  background-color: #423a7f;
  color: whitesmoke;
  font-weight: bold;
  font-size: 2em;
  border: none;
  padding: 0 1em;
  border-radius: 20px;
  cursor: pointer;
}

.main-text {
  font-size: 5em;
}

.underline {
  text-decoration: underline;
}

.hero-1 {
  display: flex;
  align-items: center;
}

.featured-img {
  width: 50em;
}

.center {
  display: flex;
  justify-content: center;
}

.center > * {
  font-size: 3em;
}

.hero-2 {
  padding: 5em 0;
  text-align: center;
}

.hero-2 > h1 {
  font-size: 3.4em;
}

.text-increase {
  font-size: 1.1em;
}

.hero-gap {
  margin-top: 2em;
}

.get-data {
  display: flex;
  align-items: center;
}

.get-email-input {
  font-family: "Poppins";
  border: none;
  border-radius: 10em 0 0 10em;
  font-size: 20px;
  height: 1em;
  padding: 1em;
}

.submit-btn {
  height: 1.6em;
  border-radius: 0 10em 10em 0;
}

footer {
  padding: 5em;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  html,
  body {
    font-size: 12px;
  }

  h1 {
    font-size: 3.5em;
  }

  p {
    font-size: 1.2em;
  }

  header {
    display: flex;
    justify-content: center;
  }

  nav {
    display: none;
  }

  .hero-1 {
    flex-direction: column;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .main-text {
    text-align: center;
  }

  .featured-img {
    /* height: auto; */
    width: 100%;
  }

  html,
  body {
    margin: 0 1em;
  }

  .get-data {
    margin-top: 2em;
  }

  .get-email-input {
    height: 5%;
  }

  .submit-btn {
    height: 2.6em;
  }

  footer > h1 {
    font-size: 2em;
  }
}
